html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  position: fixed;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: #ffffff;
  border-top: 1px solid #f1f3f4;
  padding: 8px;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 60px;
}

.text_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
